h1{
    font-weight: 775px;
    font-family: 'Montserrat', sans-serif;
    color: gray;
}





h2{
    color: green;
    font-family: 'Roboto Mono', monospace;
}


p{
    font-weight: 375px;
}


h4{
    font-weight: 400px;
    font-size: small;
}





